* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
/*header area*/
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 20vh; 
	background-color: #03396c;
	font-family: source sans pro, Helvetica, sans-serif;
	position: fixed;
	width: 100%;
	z-index: 9999;
}	


.title {
	color: white;
	letter-spacing: 7px;
	font-size: 45px;
	padding-left: 15px;
	line-height: 60px;
	padding-top: 10px;
	font-weight: bolder;

}

.title p {
	padding-top: 0px;
	padding-bottom: 10px;
	font-size: 25px;
	font-style: italic;
	line-height: 35px;
	letter-spacing: 2px;
	font-weight: normal;

}

.nav-links {
	display: inline;
	width: 15%;
	text-align: right;
	padding-right: 10px;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	color: white;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 20px;
}


.nav-links a:hover {
	color: #9dcce7;
}


.asia a {
padding-top: 180px;
display: inline;
position: absolute;
}